/.idea/
/build/
.gradle/
app/app.iml
*.iml
bin/
gen/
Mqtt.iml
#crash.txt
VideoLiveCN/VideoLiveCN.iml
MQTTApplication.iml
local.properties
.DS_Store
iQiYi/iQiYi.iml
app/libs/.DS_Store
m3u8library/m3u8library.iml
mqttdogapplication/mqttdogapplication.iml
app/src/main/java/com/hiveview/mqtt/.DS_Store
library/library.iml
library/build/
